.barContainer {
    width: 100%;
    height: 3px;
}

.red {
    background: rgba(211, 47, 47, 1);
}

.amber {
    background: rgba(255, 193, 7, 1);
}

.blue {
    background: rgba(33, 150, 243, 1)
}

.green {
    background: rgba(56, 142, 60, 1)
}